<!DOCTYPE html>
<html lang="en">

{% block javascriptblock %}

<!-- JQuery -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

<!-- Popper -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>

<!--BootStrap-->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- Bootbox -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.4.1/bootbox.min.js"></script>

{% endblock %}

<head>
    <title>
        Messages
    </title>

    <h1 style="text-align:center;">
        Messages by Cell number
    </h1>
</head>


<body>
    <div id="messages-numbers">
        {% for key, value in messages.items() %}
        <div class="panel panel-default">
            <div class="panel-body">
                <h2 class="number-heading" style="text-align:center;">{{ key }}</h2>
                {% for val in value %}
                <p class="message-p" style="padding-left:40%;"> {{ val }} </p>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</body>

</html>

<script type="text/JavaScript">
    // Jquery function to redact phone numbers in deployed version
    $(function() {
        if($(!location).attr('href').includes("127")){
            //redact numbers - replacing last four numbers with "*"
            $('.number-heading').each(function () { 
                $(this).text($(this).text().slice(0, -4)+"****");
            });
        }
        
    });
</script>